element {
    --brand-color: #854dff;
}


:root {
    --baseColor : #854dff;
    --bgColor : #f2f7ff;
    --footerColor : #061551;
    --upperColor : #202c59;
}

.bgColor{
    background-color: var(--bgColor);
}

.baseColor {
    color: var(--baseColor);
}

.numberOfWork{
    color: var(--baseColor);
    font-size: 40px;
}
   
.whatshappIcon{
    text-decoration: "none";
    color: "#3ac34d";
    float: "right";
    padding-right: "8px";
}